* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open sans", sans-serif;
}

:root {
  --header-color: #334669;
  --main-color: #889eaf;
  --footer-color: #506d84;
  --letters-color: #f2f4f5;
  --buttons-color: #9a031e;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.components {
  width: 100%;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
}

header,
nav {
  background-color: var(--header-color);
}

main {
  background-color: var(--main-color);
}

footer {
  background-color: var(--footer-color);
}
